[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
[submodule "janus/csapprox"]
	path = janus/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline.git
