[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
[submodule "janus/csapprox"]
	path = janus/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "janus/vim-smooth-scroll"]
	path = janus/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "janus/vimux"]
	path = janus/vimux
	url = https://github.com/benmills/vimux
[submodule "janus/vimux-zeus"]
	path = janus/vimux-zeus
	url = https://github.com/jingweno/vimux-zeus
